* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightsteelblue;
}

/*Hero Section*/
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/GPTempDownload.jpeg);
    background-size: cover;
    padding: 20%;
    background-position: center;
}
/*End Hero*/

/*About Me*/

/*end about me*/

/*Work Section*/
#work {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.work-example {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
    width: 60%;
}

.run-buddy {
    grid-column: 1/6;
    grid-row: 1/6;
}

.horiseon {
    grid-column: 6/-1;
    grid-row: 1/4;
}

.item-3 {
    grid-column: 6/-1;
    grid-row: 4/7;
}

.item-4 {
    grid-column: 1/4;
    grid-row: 6/-1;
}

.item-5 {
    grid-column: 4/6;
    grid-row: 6/-1;
}

.work-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-img:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.work-text {
    position: absolute;
    background-color: salmon;
    padding: 20px;
    margin: 5px;
    z-index: 1;
}

/*end work section*/

/*Contact Section*/
#contact {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.contact-info ul {
    width: 500px;
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.contact-info ul li a {
    color: black;
}

.contact-info ul li a:hover {
    color: blue;
}

@media screen and (max-width: 1024px) {
    #about-me, #work, #contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
    .title {
        width: 50%;
        text-align: center;
        font-size: 40px;
        margin-bottom: 10px;
        border-right: none;
        border-bottom: medium solid black;
    }
}

