* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
}

/*Hero Section*/
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/GPTempDownload.jpeg);
    background-size: cover;
    padding: 20%;
    background-position: center;
}
.topnav {
    border-bottom: 1px solid #43FFF4;
}
.topnav a {
    color: white;
}

.topnav a:hover {
    color: #43FFF4;
}

.bottomnav {
    border-top: 1px solid #43FFF4;
}

.bottomnav a img {
    background-color: white;
    border-radius: 50%;
}

.bottomnav a img:hover {
    background-color: #43FFF4;
}

.headerBorder {
    border-bottom: 5px solid black;
    width: 8%;
}

.img-container img {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: .5s ease;
}

.img-container:hover img {
    opacity: 0.1;
}

.img-container .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}

.img-container:hover .middle {
    opacity: 1;
}


/*End Hero*/

/*About Me*/

/*end about me*/

/*Work Section*/

/*end work section*/

/*Contact Section*/
